
itops/.project

.idea/

.DS_Store

itops/itops.client/.settings/

.settings/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

pegacorn-itops-pm/target/
pegacorn-itops-pm/node_modules/
im/target/maven-archiver/pom.properties
*.lst
*.iml
pegacorn-itops-pm/.env
pegacorn-itops-pm/.project
.project
.settings/org.eclipse.core.resources.prefs
im/.settings/
im/target/
im/.classpath
im/.project
replica/.project
replica/.settings/
replica/server/.settings/
replica/server/target/
replica/server/.classpath
replica/server/.project